{% extends "main.html" %}
{% block body_1 %} 

<h3>Clustering on {{title}}: </h3>      
{% set i = 0 %}       

<style>    
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.name {
  font-weight: bold;
}

.about {
  fill: #777;
  font-size: smaller;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



</style>
<div class="container">
<form method="post"  action="{{url_for('show_export_analysis')}}" >
  <div class="form-group">
    <label for="inputDataset" class="col-sm-2 control-label">Data set: </label>
    <div class="col-sm-10">
      <div class="col-xs-4">
        <select class="form-control" id="data_set_id" name="data_set_id">
          {% for dataset in datasets %}
            <option>{{ dataset }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="form-group">
    <label for="inputSelection" class="col-sm-2 control-label">Selection: </label>
    <div class="col-sm-10">
      <div class="col-xs-4">
        <select class="form-control" id="selection_id" name="selection_id">
          {% if selections|length > 1 %}
            {% for selection in selections[chosen_dataset] %}
              <option>{{ selection }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
  </div>
  <br>
  <br>
  <input type="hidden" name="action_type" value="{{action_type}}">
  <br>    
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" id="cl_fps_change_content" name="cl_fps_an_change_content">
    </div>
  </div>
  </form>  
</div>

<div class="graph-div">
 <svg width="1500" height="600" id="chart"> </svg>      
</div>



<script>

$(document).ready(function() {
    $('#data_set_id').val("{{ chosen_dataset }}")
    $('#selection_id').val("{{ chosen_selection }}");
});

$("#data_set_id").change(function() {
    var did = $(this).val()
    {% for dataset in datasets %}
      if ( did == "{{ dataset }}" ) {
         $("#selection_id").empty()
                            {% for selection in selections[dataset] %}
                                .append("<option selected='selected' value='{{ selection }}'>{{ selection }}</option>")
                              {% if loop.last > 1 %}
                                .val("{{ selection }}")
                              {% endif %}
                            {% endfor %}
                            
   
      
    }
    {% set i = i + 1 %}
    {% endfor %} 
   
});



var dataTree = {{ data_tree | safe}}
 
 

// set the dimensions and margins of the diagram
var margin = {top: 20, right: 300, bottom: 30, left: 90},
  width = 1200 - margin.left - margin.right,
  height = 600 - margin.top - margin.bottom;

// declares a tree layout and assigns the size
var treemap = d3.cluster()
  .size([height, width]);

// load the external data

//  assigns the data to a hierarchy using parent-child relationships
var nodes = d3.hierarchy(dataTree, function(d) {
  return d.children;
  });

// maps the node data to the tree layout
nodes = treemap(nodes);

// append the svg object to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom),
  g = svg.append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

// adds the links between the nodes
var link = g.selectAll(".link")
  .data( nodes.descendants().slice(1))
  .enter().append("path")
  .attr("class", "link")
  .attr("d", function(d) {
     return "M" + d.y + "," + d.x
     + "C" + (d.y + d.parent.y) / 2 + "," + d.x
     + " " + (d.y + d.parent.y) / 2 + "," + d.parent.x
     + " " + d.parent.y + "," + d.parent.x;
     });

// adds each node as a group
var node = g.selectAll(".node")
  .data(nodes.descendants())
  .enter().append("g")
  .attr("class", function(d) { 
    return "node" + 
    (d.children ? " node--internal" : " node--leaf"); })
  .attr("transform", function(d) { 
    return "translate(" + d.y + "," + d.x + ")"; });

// adds the circle to the node
node.append("circle")
  .attr("r", 10);

// adds the text to the node
node.append("text")
  .attr("dy", ".35em")
  .attr("x", function(d) { return d.children ? -13 : 13; })
  .style("text-anchor", function(d) { 
  return d.children ? "end" : "start"; })
  .text(function(d) { return d.data.name; });



</script>
{% endblock %}