{% extends "main.html" %}
{% block body_1 %}

<style>
.row-fluid {
    overflow: auto;
    white-space: nowrap;
}

.row-fluid .col-lg-5 {
     display: inline-block;
     float: none;
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>

<h1>Data-set: {{ data_set_id }}</h1>

<h1> </h1>
   <!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">  
    <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Information</a></li>                                  
    <li role="presentation"><a href="#mols" aria-controls="mols" role="tab" data-toggle="tab">Molecules</a></li>
    <li role="presentation"><a href="#sels" aria-controls="sels" role="tab" data-toggle="tab">Selections</a></li>
    <li role="presentation"><a href="#meds" aria-controls="meds" role="tab" data-toggle="tab">Used methods</a></li>
</ul>

<div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="info">
    <!-- metadata -->
    <div class="container-fluid">
      <div align="row">
        <div class="col-md-8">
          <h1> Information </h1>
          <dl class="dl-horizontal"> 
              {% for m in metadata %}
                  <dt>{{ m[0] }}: </dt>
                  <dd>
                   {{ m[1] }}
                  </dd>   
              {% endfor %}  
          </dl>  
        </div>
        <div class="col-md-4">
          <h1> Activity </h1>
          <svg width="250" height="250" id="pie"></svg>
        </div>
      </div>
    </div>
    
    <h4>Analysis: </h4>
    <dl class="dl-horizontal">
      {% for ds_subkey, ds_subvalue in ds_details.items() %}
        <dt>{{ ds_subkey }}: </dt>
        <dd> {{ ds_subvalue }}</dd>
      {% endfor %}
    </dl> 
    <h4>Download: </h4>
     <!-- download options --> 
    <div class="container">
      <form class="form-inline" action="{{ url_for('show_data_set_description', data_set_id=data_set_id) }}" method="post">  
        <button type="submit" class="btn btn-primary" name="sdf">Download SDF</button>
        <button type="submit" class="btn btn-primary" name="info">Download information json</button>
      </form>
    </div>
   </div>
   
   <div role="tabpanel" class="tab-pane" id="mols">
   <!-- molecules tables -->
    <h1> Molecules </h1>
    <!-- active -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6">
             <!-- test -->    
              <h2>Active</h2> 
              <div class="pre-scrollable">
                <div class="table-responsive">
                  <table class="table table-hover" id="table_id">
                    <!-- table headers -->                                                                                     
                    <tr>
                        <th> Name </th>
                    </tr>
                    <tbody id="fbody">
                    <!-- table rows -->
                    {% for cell in active %}
                      <tr class='clickable-row'>
                        <!-- row cells -->
                          <td> {{ cell }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                    
                  </table>
                </div>
              </div>
          </div>
  
        <div class="col-lg-6">
           <!-- test -->    
            <h2>Inactive</h2> 
            <div class="pre-scrollable">
              <div class="table-responsive">
                <table class="table table-hover" id="table_id">
                  <!-- table headers -->                                                                                     
                  <tr>
                      <th> Name </th>
                  </tr>
                  <tbody id="fbody">
                  <!-- table rows -->
                  {% for cell in inactive %}
                    <tr class='clickable-row'>
                      <!-- row cells -->
                        <td> {{ cell }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="sels"> 
      <h1> Selections </h1>
      <!-- selections -->
      <form class="form-horizontal" action="{{ url_for('show_data_set_description', data_set_id=data_set_id) }}" method="post">   
        <!-- table -->     
          <div class="pre-scrollable">
            <div class="table-responsive table-bordered header-fixed">
              <table class="table" id="dataTable">
                <!-- table headers -->    
                <tr>
                  {% for header in HEADERS_TABLE_SEL %}
                    <th> {{ header }} </th>
                  {% endfor %}
                  <th> Selection detail: </th>
                </tr>
                <!-- table rows -->  
                <tbody id="fbody">
                {% set i = 0 %}    
                {% for row in RESULTS_TABLE_SEL %}
                  <tr>
                    <!-- row cells -->
                    {% for cell in row %}
                      <td> {{ cell }}</td>
                    {% endfor %}
                    {% set bt_name = 'sel_' + i|string %}
                    {% set i = i + 1 %} 
                    <td><button type="submit" name="{{ bt_name }}">
                          <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                        </button></td>
                  </tr>
                {% endfor %}
                </tbody>  
              </table>
            </div>
          </div>
          <br>
          <div class="container-fluid">
            <form class="form" action="{{ url_for('show_data_set_description', data_set_id=data_set_id) }}" method="post">  
              <button type="submit" class="btn btn-primary btn-block" name="csv_selections">Export table to CSV</button>
            </form>
          </div>
        </form>
      <!-- selection add -->
      <div class="container-fluid">
        <form class="form" action="{{ url_for('show_data_set_description', data_set_id=data_set_id) }}" method="post">  
          <button type="submit" class="btn btn-primary btn-block" name="add">Add new selection</button>
        </form>
      </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="meds"> 
   <h1> Methods </h1>
    <!-- used methods -->
    <form class="form-horizontal" action="{{ url_for('show_data_set_description', data_set_id=data_set_id) }}" method="post">   
      <!-- table -->     
        <div class="pre-scrollable">
          <div class="table-responsive table-bordered header-fixed">
            <table class="table" id="dataTable">
              <!-- table headers -->    
              <tr>
                {% for header in HEADERS_TABLE_MED %}
                  {% if loop.first %}
                   {% else %}                              
                    <th> {{ header }}</th>
                   {% endif %} 
                {% endfor %}
                <th> Method detail: </th>
                <th> Subtest detail: </th>
              </tr>
              <!-- table rows -->  
              <tbody id="fbody">
              {% set i = 0 %}    
              {% for row in RESULTS_TABLE_MED %}
                <tr>
                  <!-- row cells -->
                  {% for cell in row %}
                    {% if loop.first %}
                     {% else %}                              
                      <td> {{ cell }}</td>
                     {% endif %} 
                  {% endfor %}
                  {% set bt_name = 'med_' + i|string %}
                  {% set bt_name1 = 'dat_' + i|string %}
                  {% set i = i + 1 %} 
                  <td><button type="submit" name="{{ bt_name }}">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                      </button></td>
                  <td><button type="submit" name="{{ bt_name1 }}">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                  </button></td>
                </tr>
              {% endfor %}
              </tbody>  
            </table>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <form class="form" action="{{ url_for('show_data_set_description', data_set_id=data_set_id) }}" method="post">  
            <button type="submit" class="btn btn-primary btn-block" name="csv_methods">Export table to CSV</button>
          </form>
        </div>
      </form>
   </div>
  </div>

<script>

var color = d3.scaleOrdinal(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var data = [{"label":"Active", "value":{{active|length}} }, 
            {"label":"Inactive", "value":{{inactive|length}} }];
            
var svg = d3.select("#pie"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    radius = Math.min(width, height) / 2,
    g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


var pie = d3.pie()
    .sort(null)
    .value(function(d) { return d.value; });

var path = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var label = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var arc = g.selectAll(".arc")
  .data(pie(data))
  .enter().append("g")
    .attr("class", "arc");

arc.append("path")
    .attr("d", path)
    .attr("fill", function(d, i) { return color(i); });

arc.append("text")
    .attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
    .attr("dy", "0.35em")
    .text(function(d, i) { return data[i].label; });

        
</script>


  


{% endblock %}