{% extends "main.html" %}
{% block body_1 %} 

<h1 style="text-align: center;">{{ title }}: </h1>      
{% set i = 0 %}       
  
<style>
.pre-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}
</style>    

<!-- search box -->



<form class="form-horizontal" action="{{ reference }}" method="post">   
  <!-- table -->     
      <div class="input-group">
        <div class="input-group-addon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
        <input type="text" class="form-control" id="searchInput" name="searchInput">
      </div>
      <br>    
     <div class="pre-scrollable">
      <div class="table-responsive table-bordered header-fixed">
        <table class="table" id="dataTable">
          <!-- table headers -->    
          <tr>
            {% for header in HEADERS_TABLE %}
              <th> {{ header }} </th>
            {% endfor %}
          </tr>
          <!-- table rows -->  
          <tbody id="fbody">
          {% set i = 0 %}    
          {% for row in RESULTS_TABLE %}
            <tr>
              <!-- row cells -->
              {% for cell in row %}
                <td> {{ cell }}</td>
              {% endfor %}
              {% set bt_name = 'bt_' + i|string %}
              {% set i = i + 1 %} 
              <td><button type="submit" name="{{ bt_name }}" data-toggle="tooltip" data-placement="left" title="Detail on {{title}}">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                  </button></td>
            </tr>
          {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>
    <div class="container-fluid">
      <form class="form" action="{{ reference }}" method="post">  
        <br>
        <button type="submit" class="btn btn-primary btn-block" name="csv_things">Export table to CSV</button>
      </form>
    </div>
  </form>
  
{% block body_2 %}  {% endblock %}
  
  <!-- scripts -->
<!-- http://jsfiddle.net/ukW2C/3/ -->
<script>   

$("#searchInput").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
}).focus(function () {
    this.value = "";
    $(this).css({
        "color": "black"
    });
    $(this).unbind('focus');
}).css({
    "color": "#C0C0C0"
});
</script>
{% endblock %}