{% extends "main.html" %}
{% block body_1 %} 

<style>
p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
}
</style>
  <!-- basic informations  -->
  <p class="lead" style="margin-top: 5em;">Virtual screening benchmark is an application for a 
  testing your similarity methods. You can evaluate methods on data-sets saved on the local server. 
  If you have own sets, you can add them on the server. In the case, that you have an account in Metancentum, 
  you can use an option to launch a test there.</p>
  
  <p style="font-size: 150%;">Registration</p>
  <p>
    The form for registration below this text creates a working group, which will be saved in platform. After logging with this login, every launched test will 
    be tagged with this label. You can filter tests by this login. If you have no reason to create a new working group, you can simply log in like a default user 
    with button <i>Log in like a host</i>. 
  </p>
  <!-- doc -->
  
  
  <p style="font-size: 150%;">Documentation</p>
  <p>    
    User documentation is downloadable from this link: <a href="{{ url_for('download_doc') }}">Documentation</a> (only CZ)
  </p>
  <!-- logged? -->
  {% if not session.logged_in %}
    <p>
      You are not logged in. Please sign up or log in.
    </p>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <h2>Registration</h2>
          <form action="{{ url_for('main_site') }}" method="post">
            <div class="form-group">
              <label for="username">Group name: </label>
              <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <div class="form-group">
              <label for="password">Details: </label>
              <textarea class="form-control" rows="3" id="password" placeholder="Next information about working group" name="details"></textarea>
            </div>
            <button type="submit" class="btn btn-default" name="registration">Register and log in</button>
          </form>
        </div>
        <div class="col-md-4">
          <h2>Log in</h2>
           <form action="{{ url_for('main_site') }}" method="post">
            <div class="form-group">
              <label for="username">Group name:</label>
              <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <button type="submit" class="btn btn-default" name="login">Log in with group name</button>
            <button type="submit" class="btn btn-default" name="host">Log in like a host</button>                                                                                     
          </form>
        </div>
      </div> 
      {% if ERROR %}
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <p class="error"><strong>Error:</strong> {{ ERROR }} </p>
        </div>
      </div>
      {% endif %}
    </div>
  {% endif %}
     
{% endblock %}