{% extends "main.html" %}
{% block body_1 %} 

<h3>{{k_value}} sames: </h3>      
{% set i = 0 %}       

<style>    
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.name {
  font-weight: bold;
}

.about {
  fill: #777;
  font-size: smaller;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



</style>
<br>
<div class="container">
<form method="post"  action="{{url_for('show_export_analysis')}}" >
  <div class="form-group">
    <label for="inputDataset" class="col-sm-2 control-label">Data set: </label>
    <div class="col-sm-10">
      <div class="col-xs-4">
        <select class="form-control" id="data_set_id" name="data_set_id">
          {% for dataset in datasets %}
            <option>{{ dataset }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="form-group">
    <label for="inputSelection" class="col-sm-2 control-label">Selection: </label>
    <div class="col-sm-10">
      <div class="col-xs-4">
        <select class="form-control" id="selection_id" name="selection_id">
          {% if selections|length > 1 %}
            {% for selection in selections[chosen_dataset] %}
              <option>{{ selection }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
  </div>
  <br>   
  <br>
  <input type="hidden" name="action_type" value="{{action_type}}">    
  <input type="hidden" name="k_value" value="{{k_value}}">    
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" id="k_sames_change_content" name="k_sames_change_content">
    </div>
  </div>
  </form>  
</div>

<br>
<br>
<div class="div_table">
  <div class="pre-scrollable">
    <div class="table-responsive table-bordered header-fixed">
      <table class="table" id="dataTable">
        <!-- table headers --> 
        <tr>
          <th> Method\Method </th>
          {% for header in method_names %}
            <th colspan="2"> {{ header }} </th>
          {% endfor %}
        </tr>
        <!-- table rows -->  
        <tbody id="fbody">
          <tr>
            <td></td>
            {% for _ in range(2 * method_names|length ) %}
              <td>{{ loop.cycle('actives', 'inactives') }}</td>
            {% endfor %}
          </tr>
        {% set placka = 0 %}
        {% for row in rows %}
          <tr>
            <!-- row cells -->
            {% for cell in row %}
              {% if loop.index0 % 2 == 0 %}
                {% set ind = loop.index0 / 2 %}
                {% set placka = placka + 1 %}
              {% else %}
                {% set ind = loop.index0 / 2 + 1 %}
              {% endif %}
              {% if placka == ind %}
                 <td></td>
              {% else %}    
                 {% if loop.first %}
                   <td>{{ cell }}</td>
                 {% else %}     
                  <td> {{ cell|length }}</td>
                 {% endif %}          
              {% endif %}                      
            {% endfor %} 
          </tr>
        {% endfor %}
        </tbody>  
      </table>
    </div>
  </div>      
</div>



<script>

$(document).ready(function() {
    $('#data_set_id').val("{{ chosen_dataset }}")
    $('#selection_id').val("{{ chosen_selection }}");
});

$("#data_set_id").change(function() {
    var did = $(this).val()
    {% for dataset in datasets %}
      if ( did == "{{ dataset }}" ) {
         $("#selection_id").empty()
                            {% for selection in selections[dataset] %}
                                .append("<option selected='selected' value='{{ selection }}'>{{ selection }}</option>")
                              {% if loop.last > 1 %}
                                .val("{{ selection }}")
                              {% endif %}
                            {% endfor %}
                            
   
      
    }
    {% set i = i + 1 %}
    {% endfor %} 
   
});



</script>
{% endblock %}