{% extends "main.html" %}
{% block body_1 %}
<div class="container">
  <form action="{{ url_for('query_done_site') }}" method="post">
      <h1> Launched tests </h1> 
        <div class="pre-scrollable">
          <div class="table-responsive">
            <table class="table table-hover" id="table_id">
              <!-- table headers -->                                                                                     
              <tr>
                {% for header in names %}
                  <th> {{ header }} </th>
                {% endfor %}
              </tr>
              <tbody id="fbody">
              <!-- table rows -->
              {% for row in tests %}
                <tr class='clickable-row1'>
                  <!-- row cells -->
                  {% for cell in row %}
                    <td> {{ cell }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>                  
            </table>
          </div>
        </div>  
  </form>
</div>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row1").click(function() {
        var currentRow=$(this).closest("tr"); 
        var id=currentRow.find("td:eq(0)").text();
        url = "/test_basic_info_" + id.toString().trim() + ".html"
        window.location.replace(url)
    });
});

$(function() {
    setTimeout("location.reload(true);",10000);
});

</script>

{% endblock %}