{% extends "result.html" %}
{% block body_2 %}
<form class="form-horizontal" action="{{ url_for('download_file') }}" method="post">
  <div class="form-group">
  {% for download in DOWNLOADS %}       
    <label class="col-sm-2 control-label" for="download">{{ download[0] }}</label>
    <div class=" col-sm-10">
      <button type="submit" id="download" name="download" value={{ download[1] }}>
        Download
      </button>
    </div>
  {% endfor %}
  </div>  
</form>
{% endblock %}