{% extends "main.html" %}
{% block body_1 %}
<!-- info block -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2> Test info: </h2>
      <div class="container-fluid">
            {% set i = 1 %}
            {% for field in FIELDS %}
            <div class="row"> 
              {% set i = i + 1 %}
              <div class="col-md-3">
                <p>
                  {{ field[0] }}:
                </p>
              </div>
              <div class="col-md-3">
                <p>
                  {{ field[1] }}
                </p>
              </div>
            </div>
            {% endfor %}  
      </div>
    </div>
    <div class="col-lg-6">
      <!-- subtests -->
    
    
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
          {% set i = 0 %}
          {% for subtest in SUBTESTS %}
            {% set i = i + 1 %}
            {% set name = 'Subtest ' + i|string %}
            {% set id = 'subtest_' + i|string %}
            {% if i == 1 %}                                      
              <li role="presentation" class="active"><a href="#{{ id }}" aria-controls="{{ id }}" role="tab" data-toggle="tab">{{ name }}</a></li>
            {% else %}
              <li role="presentation"><a href="#{{ id }}" aria-controls="{{ id }}" role="tab" data-toggle="tab">{{ name }}</a></li>
            {% endif %}
          {% endfor %}
      </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      {% set i = 0 %}
      {% for subtest  in SUBTESTS %}
          {% set i = i + 1 %}
          {% set id = 'subtest_' + i|string %}
          {% if i == 1 %} 
            <div role="tabpanel" class="tab-pane active" id="{{ id }}">
          {% else %}
            <div role="tabpanel" class="tab-pane" id="{{ id }}">
          {% endif %}
              <!-- context -->
              <!-- subtest info -->
              <h3 align="center"> Subtest info: </h3>
              <form class="form-horizontal">
                <div class="form-group">
                    {% for subtest_subkey, subtest_subvalue in subtest.items() %}
                      {% if subtest_subkey is not values_ending and subtest_subkey is not names_ending %}
                        <label class="col-sm-2 control-label">{{ subtest_subvalue[0] }}: </label>
                        <div class="col-sm-10">
                          <p class="form-control-static">{{ subtest_subvalue[1] }}</p>
                        </div>
                      {% endif %}
                    {% endfor %}
                </div>  
              </form>
              <form class="form" action="{{ url_for('details_on_subtest', subtest_id=subtest['subtest_id'][1])}}" method="get">  
                <button type="submit" class="btn btn-primary btn-block" name="redirect">Redirect to result details</button>
              </form>
            </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}