{% extends "run_ls.html" %}
{% block body_2 %} 

<h3>Remote computers specification</h3>
  
    <div class="form-group">
      <label for="inputDataset" class="col-sm-2 control-label">Choose configuration: </label>
      <div class="col-sm-10">
        <div class="col-xs-6">
          <select class="form-control" id="configuration_name" name="configuration_name">
            {% for configuration in configurations %}
              <option>{{ configuration }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  
  
                       <div id="hidden_inputs">     
</div> 



{% endblock %}