{% extends "main.html" %}
{% block body_1 %}
<h1>Show export analysis</h1>

<form class="form-horizontal" action="{{ url_for('show_export_analysis') }}" method="post" enctype=multipart/form-data>
  <div class="form-group">
    <label for="file" class="col-sm-2 control-label">Input file: </label>
    <div class="col-sm-10">
     <input type="file" id="file" name="file" accept=".json">
    </div>
  </div>
  
  <br>
      
  <div class="container-fluid">     
    <div class="row">  
      <div class="col-sm-offset-2 col-md-8">
        <input class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal" type="submit" value="Submit">
      </div>
    </div>
  </div>
</form>  

    
{% endblock %} 